@import url('./pages.css');

.product {
    padding: 2rem 7rem;
    justify-content: space-around;
    gap: 2rem;
}

.product-img {
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.product-img__main {
    width: 40rem;
    height: 45rem;
    border: 1px solid rgba(0, 0, 0, .8);
}

.product-img__mini {
    justify-content: space-around;
    gap: 2rem;
}

.mini-item {
    width: 14rem;
    height: 14rem;
    border: 1px solid #333333;
    transition: all 1s;
}

.mini-item:hover {
    border: 1px solid #B93B54;
    transform: scale(1.2);
}

.product-info {
    justify-content: left;
    gap: 1.3rem;
}

.product-info__title {
    font-family: 'Oswald';
    font-weight: 600;
    font-size: 4.8rem;
    color: #000000;
    text-transform: capitalize;
}

.product-info__title span {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.product-info__rating, .rating-list {
    justify-content: left;
    gap: 1rem;
    align-items: center;
}

.product-info__rating span {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1.5rem;
    color: #000000;
    text-transform: uppercase;
}

.product-info__price {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1.8rem;
}

.product-info__price span {
    font-size: 3.6rem;
    font-weight: 600;
}

.container-title {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1.8rem;
    color: #000000;
}

.container-list {
    justify-content: left;
    gap: 1rem;
}
.container-item {
    width: 4rem;
    height: 4rem;
    border: 1px solid black;
    transition: all 1s;
}

.container-item:hover {
    border: 1px solid #B93B54;
    transform: scale(1.2);
}

.product-info__btns {
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    padding: .5rem 0;
}

.add-bag {
    width: 30rem;
    background-position: 7rem;
}

.wish {
    background-image: url('../images/like.svg');
    background-repeat: no-repeat;
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #B93B54;
}

.product-info__link {
    justify-content: left;
    gap: 3rem;
}

.product-info__order {
    padding: 3rem 4rem;
    gap: 3rem;
    align-items: center;
}

.order-title {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 2.4rem;
    text-align: center;
    color: #333333;
    border-bottom: 1px solid #B93B54;
    padding-bottom: 2rem;
    width: 35rem;
}

.order-list {
    justify-content: space-between;
    gap: 3rem;
}

.order-list__item {
    gap: 2rem;
    align-items: center;
}

.order-list__item p {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1.4rem;
    color: #333333;
}