/* font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; */
html {
    font-size: 10px;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: block;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
.header {
    align-items: center;
    padding: 3.3rem 4rem;
}

.header-nav {
    gap: 5rem;
}

.header-nav a {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #333333;
    font-size: 2rem;
    text-transform: uppercase;
}

.search {
    border: 1px solid #A04955;
    height: 4rem;
    padding: 1rem 4.3rem;
    border-radius: 2rem;
    background-image: url('/images/search_logo.svg');
    background-size: 3rem;
    background-position: center left 1rem;
    background-repeat: no-repeat;
}

.search::placeholder {
    color: #787878;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.banner {
    padding: 7rem;
    gap: 5rem;
}

.banner-description {
    justify-content: center;
    gap: 2rem;
}

.title {
    color: #001F3D;
    font-size: 6.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000000;
    font-size: 2.4rem;
}

.goBtn {
    width: 24rem;
    height: 4rem;
    border: 1px solid #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000000;
    font-size: 2.4rem;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.sales {
    padding: 7.5rem;
    background-color: #F1F1F1;
    text-align: center;
}

.sales-title {
    font-family: 'Oswald', sans-serif;
    color: #333333;
    font-size: 3.6rem;
    font-weight: 500;
    text-transform: uppercase;
}

.sales-title span {
    font-size: 6.4rem;
}

.news {
    padding: 10rem;
    background-color: #F1F1F1;
}

.news-item {
    text-align: center;
    gap: 5rem;
    align-items: center;
    width: 50rem;
}

.news-item__banner {
    width: 50rem;
    height: 50rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.news-item__banner p {
    position: absolute;
    bottom: 0;
    background-color:#A04955;
    opacity: 0.8;
    width: 100%;
    height: 7rem;
    font-family: 'Oswald', sans-serif;
    color: #FFFFFF;
    font-size: 3.6rem;
    font-weight: 500;
    text-transform: uppercase;
}

.ecoths {
    background-image: url('/images/banner_ecoths.png');
}

.print {
    background-image: url('/images/banner_print.png');
}

.news-item .goBtn {
    width: 36rem;
}

.original {
    background-image: url('/images/banner_sportif_original_pants.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 55rem;
    padding: 4rem 15rem;
}

.original-item {
    width: 50rem;
    gap: 2rem;
}

.original-item .title, .original-item .subtitle, .original-item .goBtn {
    color: #FFFFFF;
}

.original-item .goBtn {
    background-color: #A04955;
    border: none;
    width: 40rem;
}

.trend {
    margin: 9rem 6rem;
    background-color: #A04955;
    height: 40rem;
}

.trend .title {
    color: #FFFFFF;
    text-align: center;
    padding-top: 3rem;
}
.trend-container {
    justify-content: space-around;
    padding: 3rem;
}

.trend-container__item {
    background-color: #FFFFFF;
    width: 32rem;
    height: 36rem;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #A04955;
    padding: 1rem;
}

.trend-container__item img {
    width: 19rem;
}
.trend-container__item .item-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
}

.trend-container__item .goBtn {
    background-color: #A04955;
    color: #FFFFFF;
    border: none;
    height: 3.2rem;
    font-size: 1.8rem;
}

.about {
    padding: 10rem;
    align-items: center;
    position: relative;
    height: 60rem;
}

.about-img {
    width: 27rem;
    z-index: 1;
}

.about-description {
    position: absolute;
    background-color: #F3F3F3;
    align-items: center;
    padding: 10rem 10rem 5rem 10rem;
    top: 25rem;
    gap: 3rem;
}

.footer {
    background-color: #A04955;
    padding: 5rem 6rem;
}

.footer-nav {
    gap: 1.4rem;
}

.footer-nav__title {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 2.4rem;
}

.footer-nav__link {
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
}

.footer-form {
    margin-top: 4rem;
    position: relative;
}

.footer-form__input {
    border: none;
    height: 6rem;
    width: 50rem;
    margin: 2rem 0;
    padding-left: 3rem;
    background-color: #F3F3F3;
}

.footer-form__input::placeholder {
    font-size: 1.8rem;
    color: #A04955;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.footer-form__button {
    position: absolute;
    right: 5.5rem;
    bottom: 3rem;
    background-color: #A04955;
    border: none;
    color: #F3F3F3;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    width: 16rem;
    height: 4rem;
}