/* font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; */
html {
    font-size: 10px;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: block;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
.header {
    align-items: center;
    padding: 3.3rem 4rem;
}

.header-nav {
    gap: 2rem;
}

.header-nav a {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #333333;
    font-size: 2rem;
    text-transform: uppercase;
}

.search {
    border: 1px solid #A04955;
    height: 4rem;
    padding: 1rem 4.3rem;
    border-radius: 2rem;
    background-image: url('/images/search_logo.svg');
    background-size: 3rem;
    background-position: center left 1rem;
    background-repeat: no-repeat;
}

.search::placeholder {
    color: #787878;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.banner {
    padding: 7rem;
    gap: 5rem;
}

.banner-description {
    justify-content: center;
}

.banner-description__title {
    color: #001F3D;
    font-size: 6.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.banner-description__subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000000;
    font-size: 2.4rem;
}

.goBtn {
    width: 24rem;
    height: 4rem;
    border: 1px solid #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000000;
    font-size: 2.4rem;
    padding: 1rem;
    text-align: center;
    margin: 3rem 0;
}